<!--<#% provide(:title, "Top") %>-->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title><#%= yield(:title) %> | AttendanceApp</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    <h1>勤怠管理システム</h1>-->
<!--    <p>このアプリケーションでは、登録されたユーザーの勤怠情報を閲覧・登録・編集することができます。</p>-->
<!--  </body>-->
<!--</html>-->

<!--↑最初は上記コード ⇒ application.htmlと重複する【DRYに反する】為、コードを削除【リファクタリング】し
下記のようなシンプルなコードになった-->

<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>勤怠管理システム</h1>
  <p>このアプリケーションでは、登録されたユーザーの勤怠情報を閲覧・登録・編集することができます。</p>
  <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>